page-file {
  .panel .body {
    margin: 10px;
    margin-top: 0px;
    margin: 0px;
  }
  pre {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    padding: 0px;
    counter-reset: line;
    code {
      float: left;
      clear: left;
      counter-increment: line;
    }

    code::before {
      content: counter(line);
      display: inline-block;
      min-width: 1.6em; /* Fixed width */
      border-right: 1px solid #f0f0f0;;
      padding: 0 .4em;
      margin-right: .5em;
      -webkit-user-select: none;
      text-align: right;
      background-color: #fafafa;
      color: rgba(0, 0, 0, 0.3);
    }

    code:first-child::before {
      padding-top: 5px;
    }
    code:last-child::before {
      padding-bottom: 5px;
    }
  }

}
