<ion-header>
  <ion-navbar>
    <ion-title>{{title?title:'Directory'}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p class="center" *ngIf="repoEmpty">The repository for this project is empty...</p>
  <div *ngIf="repoTree.length > 0">
    <directory-content [repoTree]="repoTree"></directory-content>
  </div>
  <div *ngIf="this.readme" class="panel">
    <div class="title">
      <ion-icon name="document"></ion-icon>
      {{rmfile.file_name}}
    </div>
    <div class="body" [innerHTML]="readme"></div>
  </div>
</ion-content>
