page-commit {
  @import '../../../../../../node_modules/diff2html/dist/diff2html.min';

  .d2h-file-name {
    overflow-x: scroll;
  }

  .d2h-file-list-wrapper {
    padding: 5px;
    margin: 5px;
    border: 1px solid #eee;
  }

  .d2h-file-wrapper{
    border-radius: 0px;
  }
}
