<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [hidden]="showSearchBar">Home</ion-title>
    <ion-searchbar #searchbar
                   [(ngModel)]="search"
                   (ionInput)="onSearch($event)"
                   (ionCancel)="onSearchCancel($event)" [hidden]="!showSearchBar">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="auth.goLogin()" *ngIf="!auth.isLoggedIn">
        <ion-icon name="lock"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 padding-horizontal>{{(auth.isLoggedIn && search.length < 1)?'My Projects':'Explore'}}</h3>
  <ion-list>
    <button ion-item *ngFor="let project of projects; let i = index" (click)="goToProject(project)">
      <ion-avatar item-start *ngIf="project.avatar_url">
        <img src="{{project.avatar_url}}">
      </ion-avatar>
      <ion-avatar item-start *ngIf="!project.avatar_url" [attr.data-letters]="project.name.charAt(0).toUpperCase()">
      </ion-avatar>
      <h2 text-wrap>{{project.name_with_namespace}}</h2>
      <p>{{project.description}}</p>
      <small>updated {{project.last_activity_at | amTimeAgo}}</small>
    </button>
  </ion-list>
  <div class="center" *ngIf="spin">
    <ion-spinner></ion-spinner>
  </div>
  <p class="center" *ngIf="!spin && projects.length < 1">
    No projects found...
  </p>
  <p class="center" *ngIf="!spin && !infiniteScroll.enabled && infiniteScroll.state !='loading' && projects.length > 0">
    End of results...
  </p>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
