<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="auth.goLogin()">
        <ion-icon name="lock"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar [hidden]="!showSearchBar">
    <ion-searchbar #searchbar
                   [(ngModel)]="search"
                   (ionInput)="onSearch($event)"
                   (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 padding-horizontal>GitLab App</h3>
  <ion-list>
    <ion-item *ngFor="let project of projects; let i = index">
      <ion-avatar item-start *ngIf="project.avatar_url">
        <img src="{{project.avatar_url}}">
      </ion-avatar>
      <ion-avatar item-start *ngIf="!project.avatar_url" [attr.data-letters]="project.name.charAt(0).toUpperCase()">
      </ion-avatar>
      <h2>{{project.name_with_namespace}}</h2>
      <p>{{project.description}}</p>
      <small>updated {{project.last_activity_at | amTimeAgo}}</small>
    </ion-item>
  </ion-list>
  <div class="center" *ngIf="spin">
    <ion-spinner></ion-spinner>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
