// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../common/tools/letter-avatar/letter-avatar";
@import '../../node_modules/sweetalert2/dist/sweetalert2';
@import '../../node_modules/highlight.js/styles/github';

.center {
  text-align: center;
}

.side-avatar {
  text-align: center;
  margin-top: 25px;
}

.side-avatar img {
  max-width: 35%;
  border-radius: 100%;
}

div[data-letters]:before {
  font-size: 36px;
  width: 90px;
  height: 90px;
  line-height: 90px;
}

ion-list.repo-list {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  font-size: 12px;
  ion-item.item-block .item-inner, button.item.item-block .item-inner {
    border-bottom: 0px;
  }
  ion-item:first-child {
    background-color: #fafafa;
    font-size: 13px;
    font-weight: normal;
  }
  ion-item, button.item {
    border-bottom: 1px solid #dedede;
    font-size: 13px;
    min-height: 31px;
    font-weight: normal;

    ion-label {
      margin: 6px 8px 6px 0px;
    }

    ion-icon[item-left], ion-icon[item-right], ion-icon[item-start], ion-icon[item-end] {
      margin-top: 2px;
      font-size: 20px;
      margin-bottom: 1px;
      line-height: 2.8rem;
    }
    ion-icon[item-start] + .item-inner {
      margin-left: 10px;
    }
  }
  ion-item:last-child, button.item:last-child {
    border-bottom: 0px;
  }
}

.panel {
  border: 1px solid #dedede;
  border-radius: 4px;
  .title {
    background-color: #fafafa;
    border-bottom: 1px solid #dedede;
    padding: 10px 16px;
    border-radius: 4px 4px 0 0;

    ion-icon {
      margin-right: 10px;
    }
  }
  .body {
    margin: 20px;
  }
}
